.blocknotes {
  height: 1024px;
  width: 768px;
  position: relative;
  overflow: hidden;
}
.blocknotes canvas.paper {
  height: 1024px;
  width: 768px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.blocknotes canvas.buffer {
  position: absolute;
  height: 1024px;
  width: 768px;
  background: transparent;
  top: 0;
  left: 0;
}
