html, body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background:#000;
}
.toolbar{
	height:40px;
	padding:0;
	width:100%;
	background:#ddd;
	position:absolute;
}
.toolbar>.separator{
	border-left:1px dashed black;
	width:1px;
	height:40px;
	padding:0;
	margin: 0 10px;
}
.toolbar>button{
	height:100%;
	border:1px solid 333;
	border-bottom:none;
	border-top:none;
	margin:0px 5px;
	width:60px;
	text-align:center;
	position:relative;
	overflow:hidden;
}
.toolbar>select{
	height:30px;
	border-radius:8px;
	border:1px solid 333;
	margin:5px 5px;
	width:60px;
	text-align:center;
}
.toolbar>button.selected{
	color:#ddd;
	background:#444;
}
.toolbar button:active{
	background:#000;
	color:#ddd;
}
#paper{
	top: 40px;
}