html, body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background:#000;
}
.toolbar{
	height:40px;
	padding:0;
	width:100%;
	background:#ddd;
	position:absolute;
}
.toolbar>.separator{
	border-left:1px dashed black;
	width:1px;
	height:40px;
	padding:0;
	margin: 0 10px;
}
.toolbar>button{
	height:100%;
	border:1px solid 333;
	border-bottom:none;
	border-top:none;
	margin:0px 5px;
	width:60px;
	text-align:center;
	position:relative;
	overflow:hidden;
}
.toolbar>button.selected{
	color:#ddd;
	background:#444;
}
.toolbar button:active{
	background:#000;
	color:#ddd;
}
.toolbar>.imgbutton{
	display:none;
}
#cancelBtn{
	position:absolute;
	left:10px;
}
#saveBtn{
	position:absolute;
	right:10px;
	background:#d44;
	color:white;
}
#paper{
	top: 40px;
}
input[type='file']{
	position:absolute;
	left:0;
	top:15px;
	transform:scale(2);
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-ms-transform:scale(2);
	-o-transform:scale(2);
	height:40px;
	opacity:.01;
}