html, body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background:#000;
}
.toolbar{
	height:40px;
	padding:0;
	width:100%;
	background:#ddd;
	position:absolute;
}
.toolbar>button{
	height:30px;
	border-radius:8px;
	border:1px solid 333;
	margin:5px 5px;
	width:60px;
	text-align:center;
}
.toolbar>button.selected{
	color:#ddd;
	background:#444;
}
#paper{
	top: 40px;
}